---

import Layout from '../../layouts/Layout.astro';


interface Post {
  title: string,
            overview: string,
          publishedAt: string,
          category: string[],
        slug: string,

}

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
   query: `
      {
           posts(orderBy: publishedAt_ASC) {
          title
          overview
          publishedAt
          category
        slug
        
         
        
        }
      }`,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json()

const posts: Post[] = json.data;

  const dateString = new Date(posts.publishedAt).toLocaleDateString("en-GB", {
    dateStyle: "full",
  });

---


<Layout title="Books">

   <h1
                    class="text-3xl  tracking-tighter  font-display font-normal md:text-6xl lg:text-4xl xl:text-4xl text "              
                    
                    >


                   Blogs
                    </h1>


<div class="pt-8 space-y-2">
    {
      json.data.posts.map((post: Post) => (
        <div class="gap-x-8 ">
        <a href=`/blog/${post.slug}`>
          <h2 class="text-xl hover:text-[#1c63f1] hover:underline">{post.title}</h2>
          <p>{post.publishedAt}</p>
 <time dateTime={post.publishedAt}>
     {post.publishedAt}
      </time>
          </a>
        </div>
      ))
    }

</div>
<!-- Work on fetching books from literal
--!>

</Layout>


